@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background: url("bg.gif") no-repeat;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: url("bg1.gif") no-repeat;
    color: rgb(255, 255, 255);
    
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    filter: drop-shadow(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #3107a5;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: #755abe;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #4510d6;
    border-bottom: 3px solid #9454e7;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #7d4bb7;
        border-bottom: 3px solid #7a4bb7;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #3107a5;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #41105e;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(88, 14, 122);

}

.contact .contact-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b584e2;
}

.contact-content h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.contact-content .social-icons {

    background: rgba(227, 179, 255, 0.548);
    border: 2px solid rgba(169, 41, 219, 0.199);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 5.3rem;
    text-align-last: center;
}

.contact-img{
    border-radius: 50%;
    
}

.contact-img img{
    background-blend-mode: soft-light;
    background-color: #b58ddb;
    position: relative;
    width: 32vw;
    border-radius: 25%;
    box-shadow: 0 0 25px solid #4b147e;
    cursor: pointer;
    transition: 0.2s linear;
}


.contact-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    
}

.social-icons a{
   
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: rgb(204, 192, 255);
    box-shadow: 0 0 10px rgba(130, 64, 192, 0.514);
    backdrop-filter: blur(10px);
    border: 0.2rem solid #925cc5;
    font-size: 3rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.4s ease;
    color: #500794;
}


.social-icons a:hover{
    transform: scale(1.3) translateY(-5px);
    background-color: #1300c0;
    box-shadow: 0  0 30px #7f7edf;
}


.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Social Media";
    color: #b58ddb;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #4b147e;
    }
}

@keyframes words{
    0%, 25%{
        content: "Facebook";
    }
    26%, 50%{
        content: "ArtStation";
    }
    51%, 75%{
        content: "Behance";
    }
    76%, 100%{
        content: "Instagram";
    }

}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
        
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
        background: transparent;
    }

    .home .home-content h3{
        font-size: 2.5rem;
        background: transparent;
    }

    .home-content h1{
        font-size: 5rem;
        background: transparent;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
        background: transparent;
    }
}

