@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background: url("bg.gif") no-repeat;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: rgb(255, 255, 255);
    
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #3107a5;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: #3107a5;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #4510d6;
    border-bottom: 3px solid #9454e7;
}


section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  section h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 1000;
    color: #530cb1;
    text-align: center;

    
  }
  section p {
    font-size: 20px;
    font-weight: 20000;
    color: #530cb1;
 
  }
  
  #abt .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  #abt .img-col {
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 50px;
  }
  #abt img {
    max-width: 80% !important;
    max-height: 80% !important;
    width: 80%;
    height: 80%;
  }
  #abt .card {
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 9px 7px 9px #a090cc9c;
    border: 10px;
    text-align: center;
    width: 450px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-left: 120px;
  }


  #abt .icon {
    width: 200px;
    height: 200px;
    margin-bottom: 1px;
  }

  #abt .card-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #3107a5;
    text-shadow: #9454e7;
    font-weight:5000;
  }